<!DOCTYPE html>
<html>
<head>
  <title>hello</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap-js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/css.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light kk">
  
<div class="navbar-collapse" >
  <ul class="navbar-nav lead ml-auto" style="font-weight: 600;f">
    <li class="nav-item ">
      <a href="/Home" class="nav-link text-white te">Home</a>
    </li>
    <li>
      <a href="/Shop" class="nav-link text-white te">Shop</a>
    </li>
    <li class="nav-item">
      <a href="/Product" class="nav-link text-white te">Product</a>
    </li>
    <li>
      <a href="/Cart" class="nav-link text-white te">Cart</a>
    </li>
    <li>
      <a href="/Order" class="nav-link text-white te">Order</a>
    </li>
    <li>
      <a href="/Add_Product" class="nav-link text-white te">Add Product</a>
    </li>
    <li>
      <a href="/Admin_Product" class="nav-link text-white te">Admin Product</a>
    </li>
  </ul>
</div>
</nav>
<br>
<br>
<div class="container">
<center>
  <form method="POST" action="/add_Product_data" class="form-group row">
    <label style="color:black;font-weight:600;"  class="form-control-label col-sm-4">Title</label>
    <input style="border:2px solid #00695c;border-radius:0px;color:black;font-weight:450;" type="text" name="Title" class="form-control col-sm-6">
    <br>
    <br>
    <br>
    <label style="color:black;font-weight:600;" class="form-control-label col-sm-4">Image Url</label>
    <input style="border:2px solid #00695c;border-radius:0px;color:black;font-weight:450;" type="text" name="Image" class="form-control col-sm-6">
    <br>
    <br>
    <br>
    <label style="color:black;font-weight:600;" class="form-control-label col-sm-4">Price</label>    
    <input style="border:2px solid #00695c;border-radius:0px;color:black;font-weight:450;" type="text" name="price" class="form-control col-sm-6">
    <br>
    <br>
    <br>
    <label style="color:black;font-weight:600;" class="form-control-label col-sm-4">Description</label>
    <textarea type="text" style="border:2px solid #00695c;border-radius:0px;color:black;font-weight:450;" name="description" class="form-control col-sm-6"></textarea>
    <br><br>
    <div class="col-sm-9">
      <br><br>
      <button type="submit" class="btn btn-primary">submit</button>&nbsp;&nbsp;
      <button type="reset" class="btn btn-danger">cancel</button>
    </div>
  </form>
</center>
</div>
</body>
</html>